
<button class="btn btn-dark btn-sm d-lg-none ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list text-light"></i>Menu</button>

<div class="offcanvas offcanvas-start bg-dark d-lg-none" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
<button type="button" class="btn-close p-3 m-1 bg-white " data-bs-dismiss="offcanvas" aria-label="Close"></button>
<app-side-bar></app-side-bar>
 
</div>